<div class="container-fluid" id="contenitoreHeader">
  <div class="row" id="oggetto">
    <div class="col-1 d-none d-sm-none d-md-block"></div>
    <img class="col-12 col-xs-12 col-md-5" src="../../../assets/img/webapp-lista/foto cv.jpg" alt="foto profilo" id="fotoProfilo">

    <div class="col-12 col-xs-12 col-md-5" id="contenitoreTesto">
      <h2 id="MsgInviato">Messaggio Inviato</h2>
    <h5 class="titolo">{{ titolo }}</h5>
    <h6 class="titolo">{{ ruolo }}</h6>
    <h6 class="titolo">Contatti</h6>
    <button><a href="mailto:{{mail}}"><img src="../../../assets/img/icone/mail.png" alt=""></a></button>
    <button><a href="{{linkedin}}" target="_blank"><img src="../../../assets/img/icone/linkedin.png" alt="" srcset=""></a></button>
    <form method="POST" action="https://nodejs-portfoliobackendjs.onrender.com/message/send">
      <input type="text" placeholder="Testo" class="form-control" required autocomplete="off" name="titolo" id="titolo">
      <input type="text" placeholder="E-mail" class="form-control" required autocomplete="off" name="email" id="mail">
      <textarea name="#" placeholder="Messaggio" id="messaggio" cols="3" rows="3" class="form-control" autocomplete="off" name="message" id="message"></textarea>
      <input type="submit" id="invio">
    </form>
  </div>
    <div class="col-1"></div>
  </div>
</div>
