#footer{
  bottom: 0;
  text-align: center;
  margin: 0 auto;
  background-color: rgb(43, 43, 120);
  padding: 0;
  color: white;
}
p {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
img{
  width: 30px;
}
.container-fluid{
  background-color: rgb(43, 43, 120);
}
button{
  margin: 1%;
  border-radius: 40px;
  background-color: rgb(86,154,225);
  border: 0;
  padding: 10px;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 3%;
  box-shadow: 1px  1px 1px rgb(86,154,225),
  -1px -1px 1px rgb(86,154,225),     /* Sfumatura */
  1px -1px 1px rgb(86,154,225),
  -1px  1px 1px rgb(86,154,225);
transition: box-shadow 1s;

}
button:hover{
  box-shadow: 5px  5px 2.5px rgb(86,154,225),
  -5px -5px 2.5px rgb(86,154,225),     /* Sfumatura*/
  5px -5px 2.5px rgb(86,154,225),
  -5px  5px 2.5px rgb(86,154,225);
opacity: 10;
transition: 1s;
}
#containerBTN{
  text-align: center;
}

