<div class="container-fluid">
  <div class="row">
    <div class="col-4"></div>
    <div class="col-12 col-xs-12 col-md-4" id="containerBTN">
      <button><img src="../../../assets/img/icone/linkedin.png" alt="linkedin"></button>
      <button><img src="../../../assets/img/icone/mail.png" alt="mail"></button>
      <button><img src="../../../assets/img/icone/instagram.png" alt="instagram"></button>
    </div>
    <div class="col-4"></div>
  </div>
  <div class="row" id="footer">
    <div class="col-12">
      <p>@Copyright {{ nome }} {{ data | date:'YYYY'}}</p>
    </div>
  </div>
</div>
