<div class="container-fluid">
  <app-nav-project></app-nav-project>
<div class="row" id="container">
  <div class="col-1 col-xs-0 col-md-1"></div>
  <div class="col-12 col-xs-12 col-md-10" id="oggetto">
    <h2>Progetti effettuati da Junior Developer</h2>
    <hr/>
    <div *ngFor="let progetti of progettiWebApp">
      <h4>{{progetti.titolo}}</h4>
      <h6>{{progetti.descrizione}}</h6>

      <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5" aria-label="Slide 6"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="6" aria-label="Slide 8"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="7" aria-label="Slide 7"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="{{progetti.foto1}}" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="{{progetti.foto2}}" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="{{progetti.foto3}}" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="{{progetti.foto4}}" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="{{progetti.foto5}}" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="{{progetti.foto6}}" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="{{progetti.foto7}}" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="{{progetti.foto8}}" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <hr/>
    </div>

  </div>
  <div class="col-1 col-xs-0 col-md-1"></div>
</div>
</div>
