#darkmode:hover, #lightmode:hover{
  background-color: rgb(167, 167, 239);

}
#titolo{
  display: none;
}
nav{
  background-color:  rgb(43, 43, 120);
  color: white;
  transition: 1s;
 justify-content: end;
}
 .navbar-collapse{
  justify-content: center;
}
a{
  color: white;
}
a:hover{
  color: rgb(176, 174, 174);
}
#dropdown{
  background-color:  rgb(65, 65, 150);
}
.dropdown-item:hover{
  background-color: rgb(44, 44, 104);
  color: white;
}
#darkmode, #lightmode{
  padding-left: 2%;
  color: white;
}
.navbarDark{
  background-color: rgb(33, 32, 32);
  color: white;
  transition: 1s;
}
.nav-link, .navbar-brand{
  color: white;
}
@media (max-width: 768px){

  #titolo {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
}
