#darkmode:hover, #lightmode:hover{
  background-color: rgb(167, 167, 239);

}
nav{
  background-color:  rgb(43, 43, 120);
  color: white;
  transition: 1s;
}
a{
  color: white;
}
a:hover{
  color: rgb(176, 174, 174);
}
#dropdown{
  background-color:  rgb(65, 65, 150);
}
#darkmode, #lightmode{
  padding-left: 2%;
  color: white;
}
.navbarDark{
  background-color: rgb(33, 32, 32);
  color: white;
  transition: 1s;
}
.nav-link, .navbar-brand{
  color: white;
}
