<div class="container-fluid">
<div class="row" id="container">
  <div class="col-1 col-xs-0 col-md-1"></div>
  <div class="col-12 col-xs-12 col-md-10" id="oggetto">
    <h2>Progetti effettuati da Junior Developer</h2>
    <hr/>
<!--       <h6>Web-App piattaforma Shop-Online <br>
        …Work-In-Progress…<br></h6>
        <hr/> -->
        <h4>Portfolio progetti</h4>
        <h6>Questo Portfolio è stato realizzato utilizzando linguaggio HTML, CSS, Framework Bootstrap, Javascript, Jquery e il Framework Angular.</h6>

        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5" aria-label="Slide 6"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="6" aria-label="Slide 8"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="7" aria-label="Slide 7"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="../../../assets/img/carosello/1.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="../../../assets/img/carosello/2.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="../../../assets/img/carosello/3.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="../../../assets/img/carosello/4.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="../../../assets/img/carosello/5.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="../../../assets/img/carosello/6.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="../../../assets/img/carosello/7.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="../../../assets/img/carosello/8.png" class="d-block w-100" alt="...">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>


       <hr/>
       <h4>Web-App Lista</h4>
        <h6>
        Dove poter aggiungere i film da vedere con la relativa data e durata del film.<br/><br/>
        Questo Portfolio è stato realizzato utilizzando linguaggio HTML, CSS, Framework Bootstrap e Javascript.<br/><br/>
        Link:
        <a href="https://glistening-figolla-16da4b.netlify.app/">clicca qui</a>
        <br/><br/>
        Schermate:</h6><br/>

        <button class="btnImg" id="btnImg1" data-bs-toggle="modal" data-bs-target="#btnImage1"><img src="../../../assets/img/webapp-lista/schermata lista film 1.png" alt="Schermata1 lista" id="foto1Lista"></button>
        <button class="btnImg" id="btnImg2" data-bs-toggle="modal" data-bs-target="#btnImage2"><img src="../../../assets/img/webapp-lista/schermata lista film 2.png" alt="Schermata2 lista" id="foto2Lista"></button>

        <!-- Modal btnImage1-->
<div class="modal fade" id="btnImage1" tabindex="-1" aria-labelledby="btnImage1Label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="btnImage1Label">Screenshot 1</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <img src="../../../assets/img/webapp-lista/schermata lista film 1.png" alt="Schermata1 lista" id="foto1ListaModal">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
<!--         <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</div>
  <!--Fine prima Modal-->
  <!--Modal btnImage2-->
  <div class="modal fade" id="btnImage2" tabindex="-1" aria-labelledby="btnImage2Label" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="btnImage2Label">Screenshot 2</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <img src="../../../assets/img/webapp-lista/schermata lista film 2.png" alt="Schermata2 lista" id="foto2ListaModal">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
<!--           <button type="button" class="btn btn-primary">Save changes</button> -->
        </div>
      </div>
    </div>
  </div>
  <!--Fine seconda Modal-->
  </div>
  <div class="col-1 col-xs-0 col-md-1"></div>
</div>
</div>
