<div class="container-fluid">
<div class="row" id="container">
  <div class="col-md-1"></div>
  <div class="col-12 col-xs-12 col-md-10" id="oggetto">
    <h3>Progetti effettuati da Junior Front End Developer</h3>
      <p>Web-App piattaforma Shop-Online <br>
        …Work-In-Progress…<br></p>
        <hr/>
        <p>
        Web-App dove poter aggiungere i film da vedere con la relativa data e durata del film
        <a href="https://glistening-figolla-16da4b.netlify.app/">https://glistening-figolla-16da4b.netlify.app/</a>
        <br/>
        Schermate:</p><br/>

        <img src="../../../assets/img/webapp-lista/schermata lista film 1.png" alt="Schermata1 lista" id="foto1Lista">
        <img src="../../../assets/img/webapp-lista/schermata lista film 2.png" alt="Schermata2 lista" id="foro2Lista">


  </div>
  <div class="col-md-1"></div>
</div>
</div>
