#contenitoreHeader{
  /* background-color:rgb(140,181,233); */
  background-image: url(../../../assets/img/webapp-lista/background/sfondo-homepage.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#fotoProfilo{
  width: auto;
  height: 340px;
  border-radius: 20px;
  margin: 5%;
  margin-left: 10%;
  text-align: center;
  padding: 0;
  text-align: justify;
  box-shadow: 1px  1px 1px rgb(86,154,225),
              -1px -1px 1px rgb(86,154,225),     /* Sfumatura */
              1px -1px 1px rgb(86,154,225),
              -1px  1px 1px rgb(86,154,225);
  transition: box-shadow 1s;
}
#fotoProfilo:hover{
  box-shadow: 20px  20px 10px rgb(86,154,225),
              -20px -20px 10px rgb(86,154,225),     /* Sfumatura */
              20px -20px 10px rgb(86,154,225),
              -20px  20px 10px rgb(86,154,225);
  transition: box-shadow 1s;
}
#contenitoreTesto{
  margin-top: 8.2%;
  background-color:rgb(140,181,233);
  border: 1px rgb(86,154,225) solid;
  border-radius: 20px;
  padding: 20px;
  height: 20%;
  box-shadow: 1px  1px 1px rgb(86,154,225),
  -1px -1px 1px rgb(86,154,225),     /* Sfumatura */
  1px -1px 1px rgb(86,154,225),
  -1px  1px 1px rgb(86,154,225);
transition:  1s;
}
#contenitoreTesto:hover{
  box-shadow: 20px  20px 10px rgb(86,154,225),
              -20px -20px 10px rgb(86,154,225),     /* Sfumatura */
              20px -20px 10px rgb(86,154,225),
              -20px  20px 10px rgb(86,154,225);
              background-color: rgb(216, 216, 248);
              opacity: 10;
              transition:  1s;
}

#oggetto{
  text-align:justify;
}
#button{
  text-align: center;
  margin: 0 auto auto;
  padding: 5%;
}
button{
  margin: 2%;
  border-radius: 40px;
  background-color: rgb(86,154,225);
  /*   background-image: url(../../../assets/img/webapp-lista/background/sfondo-homepage.jpg);
  background-repeat: no-repeat;
  background-size: cover; */
  border: 0;
  padding: 10px;
  box-shadow: 1px  1px 1px rgb(86,154,225),
  -1px -1px 1px rgb(86,154,225),     /* Sfumatura */
  1px -1px 1px rgb(86,154,225),
  -1px  1px 1px rgb(86,154,225);
transition: box-shadow 1s;
}
button:hover{
  box-shadow: 5px  5px 2.5px rgb(86,154,225),
  -5px -5px 2.5px rgb(86,154,225),     /* Sfumatura*/
  5px -5px 2.5px rgb(86,154,225),
  -5px  5px 2.5px rgb(86,154,225);
opacity: 10;
transition: 1s;
}
.modal-header,.modal-body,.modal-footer{
  background-color: rgb(140,181,233);
}
/* Riquadro contenitore button */
#contenitoreButton{
  background-color:rgb(140,181,233);
  border: 1px rgb(86,154,225) solid;
  border-radius: 20px;
  width: 69%;
  margin: 0 auto auto;
  padding: 20px;
  box-shadow: 1px  1px 1px rgb(86,154,225),
  -1px -1px 1px rgb(86,154,225),     /* Sfumatura */
  1px -1px 1px rgb(86,154,225),
  -1px  1px 1px rgb(86,154,225);
transition: 1s;
}
#contenitoreButton:hover{
  box-shadow: 20px  20px 10px rgb(86,154,225),
              -20px -20px 10px rgb(86,154,225),     /* Sfumatura */
              20px -20px 10px rgb(86,154,225),
              -20px  20px 10px rgb(86,154,225);
              background-color: rgb(216, 216, 248);
              opacity: 10;
              transition:  1s;
}

@media only screen and (max-width: 624px) {
  #contenitoreTesto{
    margin-top: 0;
  }
  #fotoProfilo{
    margin: 8%;
  }
}
  /* Responsive */
@media only screen and (max-width: 2140px) {
  #contenitoreTesto{
    width: 44.8%;
  }
  #fotoProfilo{
    margin: 5%;
    margin-left: 11%;
  }
}
@media only screen and (max-width: 1786px) {
  #contenitoreTesto{
    width: 42%;
  }
  #fotoProfilo{
    margin: 5%;
    margin-top: 6%;
    margin-left: 11%;
  }
}

@media only screen and (max-width: 1620px) {
  #contenitoreTesto{
    width: 39.8%;
  }

}

@media only screen and (max-width: 1361px) {
  #contenitoreTesto{
    width: 37%;
  }
  #fotoProfilo{

    margin-top: 6%;

  }


}

@media only screen and (max-width: 1200px) {
  #contenitoreTesto{
    width: 34.8%;
    margin-top: 6.6%;
  }

}
@media only screen and (max-width: 1000px) {
  #contenitoreTesto{
    width: 30.8%;
  }

  #fotoProfilo{

    margin-top: 9.5%;

  }

}

@media only screen and (max-width: 920px) {
  #contenitoreTesto{
    width: 28.8%;
    margin-top: 6.6%;
  }
  #fotoProfilo{
    margin-top: 16%;
  }

}

@media only screen and (max-width: 570px) {
  #contenitoreTesto{
    width: 100%;
  }
  #fotoProfilo{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

}
