<div class="container-fluid" id="contenitoreHeader">
  <div class="row" id="oggetto">
    <div class="col-1"></div>
    <img class="col-12 col-xs-12 col-md-5" src="../../../assets/img/webapp-lista/foto cv.jpg" alt="foto profilo" id="fotoProfilo">
    <div class="col-12 col-xs-12 col-md-5" id="contenitoreTesto">
    <h5 class="titolo">{{ titolo }}</h5>
    <h6 class="titolo">{{ ruolo }}</h6>
    <p id="paragrafo">{{ paragrafo }}</p>
    </div>
    <div class="col-1"></div>
  </div>
  <div class="row">
    <div class="col-12 col-xs-12 col-md.12" id="button">
      <div id="contenitoreButton">
      <h6>My Skills</h6>
      <button data-bs-toggle="modal" data-bs-target="#html">HTML</button>
      <button data-bs-toggle="modal" data-bs-target="#css">CSS</button>
      <button data-bs-toggle="modal" data-bs-target="#bootstrap">Bootstrap</button>
      <button data-bs-toggle="modal" data-bs-target="#javascript">Javascript</button>
      <button data-bs-toggle="modal" data-bs-target="#angular">Angular</button>
      <button data-bs-toggle="modal" data-bs-target="#jquery">Jquery</button> <br/>
      <button data-bs-toggle="modal" data-bs-target="#java">Java</button>
    </div>
      <!--Modale HTML-->
      <div class="modal fade" id="html" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">HTML 5.0</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              Utilizzato per lo sviluppo di questa web app e per lo sviluppo degli altri miei progetti.
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
<!--               <button type="button" class="btn btn-primary">Save changes</button> -->
            </div>
          </div>
        </div>
      </div>
      <!--Modale CSS-->
      <div class="modal fade" id="css" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">CSS</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              Utilizzato per lo sviluppo di questa web app e per lo sviluppo degli altri miei progetti.
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
<!--               <button type="button" class="btn btn-primary">Save changes</button> -->
            </div>
          </div>
        </div>
      </div>
      <!--Modale Bootstrap-->
      <div class="modal fade" id="bootstrap" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Bootstrap 5.0</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              Utilizzato per lo sviluppo di questa web app e per lo sviluppo degli altri miei progetti.
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
<!--               <button type="button" class="btn btn-primary">Save changes</button> -->
            </div>
          </div>
        </div>
      </div>
      <!--Modale Javascript-->
      <div class="modal fade" id="javascript" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Javascript</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              Utilizzato per gestire gli eventi di questa web app e di altri miei progetti.
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
<!--               <button type="button" class="btn btn-primary">Save changes</button> -->
            </div>
          </div>
        </div>
      </div>
      <!--Modale Angular-->
      <div class="modal fade" id="angular" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Angular</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              Framework utilizzato per sviluppare questa web app e altri miei progetti.
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
<!--               <button type="button" class="btn btn-primary">Save changes</button> -->
            </div>
          </div>
        </div>
      </div>
      <!--Modale Jquery-->
      <div class="modal fade" id="jquery" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Jquery</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              Utilizzato per gestire alcuni eventi con delle animazioni; utilizzato su questo progetto e su altri miei progetti.
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
<!--               <button type="button" class="btn btn-primary">Save changes</button> -->
            </div>
          </div>
        </div>
      </div>
      <!--Modale Java-->
      <div class="modal fade" id="java" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Java</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              Linguaggio di programmazione utilizzato per creare programmi utilizzabili via prompt dei comandi; inoltre utilizzato anche lato back-end con Spring
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
<!--               <button type="button" class="btn btn-primary">Save changes</button> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
